@media (max-width: 1199.98px){
    header{
        padding: 150px 0;
    }
    h2{
        font-size: 24px;
    }
    .subtitle,
    .speakers .col-xl-12 p,
    .simple p{
        font-size: 19px;
    }
    .text{
        font-size: 15px;
    }
    .col-xl-5{
        padding-right: 20px !important;
    }
    .video .col-xl-5{
        padding: 0 0 0 20px !important;
    }
    .map iframe{
        height: 400px;
    }
    footer h5{
        font-size: 21px;
    }
    footer h6{
        font-size: 19px;
    }
}
@media (max-width: 991.98px){
    .simple form{
        flex-wrap: wrap;
    }
    header{
        padding: 100px 0;
    }
    .col-xl-5{
        text-align: center;
        margin-bottom: 50px;
        padding-right: 0 !important;
    }
    .video .col-xl-5{
        padding: 0 0 0 0 !important;
        margin: 50px 0 0;
    }
    .video iframe{
        height: 300px;
    }
    .simple input{
        width: 48%;
        margin-bottom: 15px;
    }
    .simple select{
        width: 100%;
        margin-bottom: 15px;
        padding-left: 42%;
    }
    .simple .register{
        margin: 0 auto;
    }
    .sponsors .row{
        justify-content: center !important;
    }
    .sponsors img{
        margin: 10px;
    }
    .map iframe{
        height: 300px;
    }
    footer .col-xl-3{
        text-align: center;
        align-items: center !important;
    }
}
@media (max-width: 767.98px){
    header p{
        width: 100%;
    }
    header img{
        width: 90%;
    }
    .speakers .col-xl-12 .speak{
        width: 100%;
    }
    .simple p{
        width: 100%;
    }
    header{
        padding: 50px 0;
    }
    section{
        padding-top: 50px;
    }
    .speakers .col-xl-12 p{
        margin-bottom: 50px;
    }
    .speakers .col-xl-3{
        margin-bottom: 50px;
    }
    .speakers,
    .gallery,
    .simple{
        padding-bottom: 50px;
    }
    .simple form{
        padding: 20px;
    }
    .map iframe{
        height: 250px;
    }
    footer .d-flex{
        margin-top: 50px;
    }
    footer{
        padding: 50px 0;
    }
}
@media (max-width: 575.98px){
    header h1{
        font-size: 21px;
        margin: 20px 0;
    }
    header p{
        font-size: 18px;
        margin-bottom: 20px;
    }
    header a{
        margin: 10px;
    }
    .main .tab-content img{
        display: none;
    }
    .tab-content{
        padding: 20px;
    }
    .tab-content p{
        text-align: center;
    }
    .event .nav-item{
        width: 33.3%;
    }
    .nav-tabs .nav-link{
        padding: 10px 0;
    }
    .btn-link{
        font-size: 14px;
    }
    .btn-link span{
        font-size: 13px;
        padding: 5px;
        margin: 0;
    }
    .card-body{
        font-size: 14px;
    }
    .video iframe{
        height: 200px;
    }
    .carousel-indicators li{
        width: 10px;
        height: 10px;
    }
    .carousel-indicators{
        left: 10px;
        bottom: 10px;
    }
    .simple input{
        width: 100%;
    }
    .simple select{
        padding-left: 17px;
    }
}